html {
    background: gray;
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: white;
    max-width: 1000px;
    margin: 0 auto;
    color: black;
    border-radius: 25px;
    height: 100%;
}

#biglogo {
    margin-left: 250px;
    margin-right: 250px;
}

#button {
    background: #2d3030;
    border-radius: 25px;
}

header{
    background: #ab2016;
    color: white;
    height: 400px;
    width: 1000px;
    border-radius: 25px;
}

#smalllogo{
    position: absolute;
    width: 450px;
    left: 30px;
    top: 0px;
}

#slideshow {
    /* display: inline-block; */
    position: relative;
    left: 250px;
    top: 0px;
    vertical-align: top;
}

.slide {
    /* width: 516px; */
    width: 750px;
    height: 400px;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

main {
    display: inline-block;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    padding: 5px 20px;
}

.content {
    position: absolute;
    width: 1000px;
    box-sizing: content-box;
    background: white;
    border-radius: 25px;
}

#all {
    margin: 15px;
    background: white;
    border: 5px solid #2d3030;
    width: 600px;
    height: 180px;
    color: #2d3030;
    font-family: 'Dancing Script', cursive;
    padding: 40px;
    display: inline-block;
}

#all div {
    display: inline-block;
} 

#all:hover {
    border: 5px solid #1fb5b5;
}

#graphic {
    height: 200px;
}

#words {
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
    font-size: 20px;
    padding-top: 30px;
}

#rhombus {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    padding-top: 135px;
    padding-left: 80px;
}

.welcome {
    height: 100%;
    text-align: center;
    background-image: url(https://i.gifer.com/Eno3.gif);
    background-repeat: repeat;
    background-size: cover;
    border-radius: 25px;
    color: #1fb5b5;
    font-size: 50px;
}

.welcome h1 {
    padding-top: 200px;
    padding-bottom: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

footer {
    height: 60px;
    background: #ab2016;
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
    font-family: 'Dancing Script', cursive;
}