html {
    background: gray;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: white;
    max-width: 1000px;
    margin: 0 auto;
    color: black;
    border-radius: 25px;
}

header{
    background: #ab2016;
    color: white;
    height: 160px;
    width: 1000px;
    border-radius: 25px;
    display: inline-block;
}

header h1 {
    padding: 30px;
    padding-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    vertical-align: top;
    font-size: 38px;
}

header img {
    display: inline-block;
    width: 150px;
    padding-left: 400px;
}

nav li {
    list-style: none inside;
    width: 227px;
    padding: 17px 0px;
    display: inline-block;
    text-align: center;
    background: #2d3030;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

#current {
    border-top: 3px solid #1fb5b5;
}

nav li:hover {
    background-color: #1fb5b5;
}

main {
    display: inline-block;
    font-family: 'Dancing Script', cursive;
}

main h2 {
    padding-left: 40px;
    padding-top: 10px;
}

div img {
    /* width: 700px;
    height: 500px;
    object-fit: cover; 
    object-position: center; */
    max-width: 650px;
    max-height: 470px;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}

#image {
    /* margin-left: 150px; */
    display: inline-block;
    height: 530px;
    width: 650px;
    border: 2px solid #2d3030;
    padding: 8px;
    border-radius: 25px;
    margin-bottom: 20px;
    text-align: center;
}

main h3 {
    background: #ab2016;
    text-align: center;
    color: white;
    width: 500px;
    height: 25px;
    display: inline-block;
    padding-bottom: 4px;
}

#image p {
    display: inline-block;
    width: 50px;
    height: 25px;
    color: white;
    vertical-align: middle; 
    padding-top: 4px;
}

#image p:hover {
    background: #1fb5b5;
    cursor: pointer;
}

#left {
    background: #2d3030;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#right{
    background: #2d3030;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.specs {
    vertical-align: top;
    display: inline-block;
    border: 2px solid #2d3030;
    padding: 0px 8px 8px 8px;
    border-radius: 25px;
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 8px;
}


table {
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    /* margin-left: 380px;
    margin-bottom: 20px; */
}

tr:first-of-type {
    background: #ab2016;
    color: white;
}

td {
    border-bottom: 1px solid #1fb5b5;
    border-right: 1px solid #1fb5b5;
    width: 130px;
    text-align: center;
}

td:first-of-type {
    border-left: 1px solid #1fb5b5;
}

td:first-of-type:hover {
    background: #1fb5b5;
    color: white;
    cursor: pointer;
}

footer {
    height: 60px;
    background: #ab2016;
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
    font-family: 'Dancing Script', cursive;
}